$self-text-color-1: #d18b8b;
$self-text-color-1: #7a544d;
// $self-background-color: #f7ebeb;
$self-background-color:linear-gradient(230deg, #fff, #f7dcdb);

$self-tabbar-background-color:#fff;
$self-tabbar-text-color: #999;
$self-tabbar-text-active-color:#999;